* {
  box-sizing: border-box;
}

body, html, #root {
  margin: 0;
  height: 100%;
}

h1, h2, h3, h4, h5 {
  margin: 0;
}

.flex {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.bg-1 {
  background: url('../imgs/bg1.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.decrease-icon {
  font-size: 30px;
  margin: 0 5px;
}

.increase-icon {
  font-size: 30px;
  margin: 0 5px;
}

.custom-button {
  width: 87px;
  height: 35px;
  padding: 5px;
  border-radius: 5px;
  border: 0;
  background: rgba(0,0,0,0.7);
  color: white;
  font-weight: bold;
  margin: 0 auto;
  margin-top: 18px;
  letter-spacing: 2px;
  outline: none;
}

.animation-popup {
  animation-name: popup;
  animation-duration: 1s;
  animation-timing-function: ease;
}

.background-circle {
  width: 20px;
  height: 20px;
  border: 2px solid white;
  border-radius: 50%;
}

.slide-from-left {
  animation-name: slideFromLeft;
  animation-duration: 1s;
  animation-timing-function: ease;
}

.input {
  width: 100%;
  height: 40px;
  font-size: 15px;
  padding: 0px 10px;
}

@keyframes slideFromLeft {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0%);
  }
}

@keyframes popup {
  0% {
    display: none;
    opacity: 0
  }
  100% {
    display: flex;
    opacity: 1
  }
}
